<div class="container">
    <br>
    <div class="card-header border">
  <h3 style="text-align:center">Update Fare Values</h3>
  </div>
  <div class="card-body border">
    <form ngForm #data = "ngForm" (ngSubmit)="onSubmit(data.value)">
      <div class="form-group">
        <label for="name">Id</label>
        <input type="number" readonly="readonly" class="form-control"  required   name="rentals_id" [(ngModel)]="rentals_id" ngModel>
      </div>
      <br>
      <div class="form-group">
        <label for="name">Car Name</label>
        <input type="text" class="form-control"  required  name="carname" [(ngModel)]="carname" ngModel >
      </div>
      <br>
      <div class="form-group">
        <label for="name">Car Number</label>
        <input type="text" class="form-control"  required   name="carnumber" [(ngModel)]="carnumber" ngModel>
      </div>
      <br>
      <div class="form-group">
          <label for="name">Car location</label>
          <input type="text" class="form-control"  required  name="location" [(ngModel)]="location" ngModel>
        </div>
        <br>
        <div class="form-group">
            <label for="name">Price</label>
            <input type="number" class="form-control"  required  name="price" [(ngModel)]="price" ngModel>
          </div>
          <br>
          <div class="form-group">
            <label for="name">Availability</label>
            <input type="text" class="form-control"  required  name="availability" [(ngModel)]="availability" ngModel>
          </div>
          <br>
          <div class="form-group">
            <label for="name">Car Image link</label>
            <input type="text" class="form-control"  required  name="car_image" [(ngModel)]="car_image" ngModel>
          </div>
          <br>
  
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
  </div>
  </div>
  