<!-- <body style="background-image:url('https://w0.peakpx.com/wallpaper/799/6/HD-wallpaper-blue-blur-color-blue-blur-simple-background-deviantart.jpg')"> -->
<div class="d-flex justify-content-center ">
   <div class="card border-primary" style="width: 60%; margin-top: 10%; ">
       <div class="card-body">
           <h2 class="card-title text-center text-primary">Welcome</h2>
           <h6 class="card-subtitle mb-2 text-muted text-center">Cab-Service</h6>
           <p class="card-text"><b>Cab-Service</b> service is a major transport service provided by the various transport
               operators in a particular city. Mostly peoples use cab service for their daily transportations need. The
               company must be a registered and fulfils all the requirements and security standards set by the
               transport department.</p>
       </div>
   </div>
</div>
<!-- </body> -->

<!-- <img style="width:70%; height:70%;" src="https://img.freepik.com/premium-vector/taxi-service-cab-flyer-template-background-taxi-driver-app-vector-brochure-banner-concept_41737-859.jpg?w=2000"> -->
